@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
  }
  .slider {
    position: absolute;
    top: 100px;
    right: 5px;
    width: 600px;
    height: 350px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .slider .item {
    flex:0 0  130px;
    
    height: 100%;
    background: no-repeat center/cover #333;
    border: 1px solid;
    text-align: center;
    transition: .5s;
  }
  .slider .item:hover {
    flex-basis: 300px;
  } 
  
  @media (max-width: 640px){
    .slider {
      flex-direction: column;
      max-width: 100%;
    }
    .slider .item {
      width: 100%;
    }
    .slider .item:hover {
      flex-grow: 40%;
    }
  }
  

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(145,162,224,1) 100%, rgba(255,255,255,1) 100%);
    width: 100%;
    
}
.container{
    width: 1300px;
    margin: 0 auto;
    
    
}

header{
padding: 50px 0;
display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    color: #000;
    display: flex; 
    gap: 10px; 
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

header nav{
    float:right;
    width:50%;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
header nav ul li{
    display: inline block;
}
header nav ul li a{
    color:#1a4588;
}
header nav ul li.active::after{
    content:'';
    display: block;
    width: 40px;
    height: 5px;
    background:#001b7c ;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;;

}
header nav ul li:not( .active):not(.btn)  a:hover{
border-bottom: 4px solid#001b7c;
}
header nav ul li.btn a, .email .block1 button{
background:#001b7c ;
padding: 9px 17px;
border-radius: 5px;
color: #fff;
transition: all 500ms ease;
}
header nav ul li.btn a:hover, .email .block1 button:hover{
    background:#000d3a ;
}

.hero{
    
    position: relative;

}
.hero--info{
    width: 650px;
    padding-top: 15px;

}
.hero--info h2{
    color:#1a4588;
    font-size: 20px;
    font-weight: 600;
}
.hero--info h1{
    
    font-size: 50px;
    font-weight: 600;
}
.hero--info p{
    
    font-weight: 400;
    line-height: 170%;
    margin: 30px 0;
}
.hero--info .btn{
background: #001b7c;
color: #fff;
border-radius: 50px;
padding: 15px 30px;
border: 0;
transition: all 500ms ease;
font-size: 17px;
}
.hero--info .btn:hover{
    cursor: pointer;
    color: #fff;
    transform: scale(1.1);
}
.hero--info a{
    color: #fff;
}
.hero img{
    position: absolute;
    top:70px;
    right:0;
width: 700px;
height: 400px;
border-radius: 30px;
}

.trending {
    padding-top: 50px;
}
.trending h3{
font-weight: 600;
font-size: 31px;

}
.trending .see-all{
    color: #fff;
    background: #001b7c;
    border-radius: 5px;
    padding: 12px 23px;
    float:right;
    display:block;
    transition: all 500ms ease;
}
.trending .see-all:hover{
    transform: scale(1.1);

}
.trending .people{
display: flex;
justify-content: space-between;
width: 100%;
padding: 50px 0;
}
.trending .people img {
    border-radius: 20px;
    }
    .trending .people span {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #fff;
        }
        .trending .people span img {
        position: relative;
        top: 5px;
        margin-right: 10px;
        
        }

        .features {
            background: url("img/city.jpg") no-repeat center center fixed;
            background-size: cover;
            width: 100%;
            height: 100vh; 
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .features h3{
            font-size: 48px;
            margin-top: -300px;
        }
        .features p{
            font-size: 20px;
        }
       .email{
        padding-bottom: 120px;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(145,162,224,1) 100%, rgba(255,255,255,1) 100%);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       }
       
       .email h3{
        margin-top: 60px;
        font-size:  45px;
       }
        .email .block1{
        background:rgb(237, 242, 254);
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-top: 40px;
        
        border-radius: 10px;
        padding: 40px 4%;
        width: 90%;
       
       }
       .email .block1 h4{
        font-size: 30px;
        font-weight: 500;

       }
       .email .block1 p{
        width: 500px;
       }
      .email .block1 input {
        background-color: #ffffff;
        outline: none;
        border: 2px solid #000;
        border-radius: 5px;
        width: 400px;
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 400;
        padding: 20px 30px;
        position: relative;
        right: -130px;
        z-index: 1;
        padding-right: 140px;
       }
       .email .block1 input::placeholder{
        color: #898989;

       }
       .email .block1 button{
        cursor: pointer;
        border: 0;
        padding: 13px 17px;
        position: relative;
        z-index: 2;
       }
       .place {
        text-align: center; 
        margin-top: 30px; 
    }
    .place-info h1 {
        margin-bottom: 20px; 
        margin-top: 40px;
        text-align: center;
    }
       .place .place-info img{
        display: inline-block; 
        margin: 10px;
        width: 280px;
        height: 200px;
        padding-left: 50 px ;
       }
       .place-info p{
        margin: 0 auto;
       width: 800px;
       }
       .place-info a{
        text-decoration: underline;
        color:#000000
        
       }
       .place-info a:hover{
        color:#ffffff
        
       }
       .place .gallery img{
        width: 30px;
        height: 30px;
       }
       .news h3{
        margin-left: 120px;
       margin-top: 15px;
       margin-bottom: 40px;
        
        font-size: 45px;
    }
        .news a{
            margin-left: 120px;
            margin-bottom: 50px;
            
            color:#000000
           }
           .news a:hover{
            color: #574dc7;
           } 
        .news ul {
            list-style: none;
        }
        .news ul li{
            margin-bottom: 50px; 
            padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #f9f9f9;
    max-width: 80%;
    margin-left: auto;
margin-right: auto;
        }
        .history {
            display: flex;
            flex-wrap: wrap;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        
        .history h3 {
            width: 100%;
            text-align: center;
            font-size: 35px;
            margin-bottom: 30px;
        }
        
        .history .text-content {
            width: 700px;
            padding-right: 30px;
        }
        
        .history .image-content {
            width: 400px;
        }
        
        .history p {
            margin-bottom: 30px;
        }
    
        .history img {
            width: 400px;
            height: 250px;
            margin-bottom: 20px;
        }
        .video-container {
            width: 100%;
            margin-top: 40px;
            text-align: center;
        }
        
        .video-container iframe {
            width: 800px;
            height: 450px;
            max-width: 100%;
        }
        .person-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            max-width: 900px;
            margin: 0 auto;
          }
          
          .person-card {
            display: flex;
            align-items: center;
            gap: 30px;
          }
          
          .photo-container {
            width: 300px;
            height: 300px;
            overflow: hidden;
            border-radius: 10px;
          }
          
          .rounded-photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
          
          .info-container {
            flex-grow: 1;
          }
          
          .info-container h2 {
            margin-top: 0;
          }
          
          .info-container p {
            margin-bottom: 0;
            max-width: 400px;
          }
          .map-view-container {
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            padding: 20px;
        }

        .map-modal-tabs {
            display: flex;
            margin-bottom: 20px;
        }
    

        .map-modal-tab {
            flex: 1;
            padding: 15px;
            text-align: center;
            background-color: #f1f1f1;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .map-modal-tab.active {
            background-color: #001b7c;
            color: white;
        }

        .map-view {
            width: 100%;
            height: 600px;
        }
       footer{
        background:#91a2e0;
        padding: 50px 0;
        overflow: hidden;

       }
       footer .blocks{
        display: flex;
        justify-content: space-between;
       }
       footer .logo{
        display: flex; 
        gap: 10px; 
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
       }
       footer .blocks h4{
        font-weight: 400;
        font-size: 20px;

       }
       footer .blocks ul{
        list-style: none;
       }
       footer .blocks ul li{
        margin-top: 20px;
        opacity: 0.8;
       }
       footer hr{
        margin: 40px 0;
        color: #2d2d2d;
       }
       footer >p{
        display: inline-block; 
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
        transform-origin: center center;
        position: relative;
        z-index: 1; 
        cursor: pointer;
       
       }
       footer >p:hover{
        color: #fff;
        transform: scale(1.1);

       }
       .modal {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7); 
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    
    .modal-content {
        background-color: #fff;
        padding: 20px;
        width: 70%;
        max-width: 500px;
        border-radius: 5px;
        position: relative;
    }
    
    .close {
        position: absolute;
        right: 10px;
        top: 5px;
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .close:hover {
        color: black;
    }
    
    .modal-content img {
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }